.rackNumberContainer {
    /* border: 1px solid #999; */
}
.rackNumber {
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 600;
    width: 100px;
    text-align: center;
    margin: 10px;
    padding: 7px 0;
    background-color: #0808bd;
    color: #fff;
    cursor: pointer;
    /* animation-name: Hay;
    animation-duration: 10s;
    animation-iteration-count: infinite; 
    animation-direction: alternate; */
}

/* @keyframes Hay {
    10% {
        margin-left: 10px;
    }
    30% {
        margin-left: 30px;
    }
    50% {
        margin-left: 50px;
    }
    70% {
        margin-right: 30px;
    }
    100% {
        margin-right: 50px;
        
    }
} */