.rackNumberContainer {
    /* border: 1px solid #999; */
}
.rackNumberContainer {
    display: flex;
    flex-wrap: wrap;
}
.rackNumber {
    flex-grow: 1;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 600;
    text-align: center;     
    margin: 10px;
    padding: 7px 0;
    background-color: #020263;
    color: #fff;
}
