* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #ebebeb;
}
.main-app {
    position: relative;
    width: 90%;
    margin: 20px auto;
}

@media only screen and (min-width: 1200px) {
    .main-app {
        max-width: 1200px;
        margin: 20px auto;
    }
} 