.pasilloContainer h1 {
    padding: 10px;
    margin-top: 30px;
}
.pasilloContainer h2 {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #999;
    margin: 20px auto;
}
.pasilloContainer h2:hover {
    background-color: #020263;
    color: #fff;
    transition: background-color 1s;
}
.pasilloContainer .pasilloLink {
    color: #000;
}