.pulmonItem {
    background-color: #020263;
    border: 1px solid #999;
    box-shadow: 0 0 5px #999;
    border-radius: 5px;
    text-align: center;
}
.pulmonItem:hover {
    background-color: #f39200;
}
.pulmonItem .pulmonItemLink {
    color: #fff;
    display: block;
    padding: 20px;
}

@media only screen and (min-width: 500px) {
    .pulmonItem {
        flex-grow: 1; 
    }
} 
@media only screen and (max-width: 499px) {
    .pulmonItem {
        width: 100%;
    }
}

